@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-shrink-0">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row d-flex align-items-center justify-content-center g-5 py-5 row-cols-1 row-cols-lg-2">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">DRIP DROP: A Coding Project</h1>
                <h4 class="lead">
                    When it counts, you DRIP DROP. A coding exercise using loops.
                    Write a program that prints the numbers from 1 to 100 and for multiples of '3' display "Drip"
                    instead of the number and for multiples of '5' display "Drop".
                    If a multiple of both display "DripDrop".
                </h4>
                
                <div>
                    <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2 mt-2" asp-area="" asp-controller="Home" asp-action="DDPage">
                        Try it
                        out!
                    </a>
                </div>
                   
            </div>
            <div class="col">
                <img src="img/DripDrop.png" class="img-fluid center-block d-block mx-auto"
                     alt="DRIP DROP Logo">
            </div>
        </div>
    </div>
</main>


